.info {
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    min-height: 50vh;
    max-height: fit-content;
    overflow: hidden;
    animation: expandOut 3s forwards;
}
.info > div {
    margin: auto 0;
    min-width: 60vw;
    max-width: 60vw;
}
.info > button {
    margin: auto 16px;
    font-size: xx-large;
    font-weight: 900;
    max-height: 128px;
    border: unset;
    background-color: unset;
    border-radius: 25px;
    padding: 8px 16px;
    cursor: pointer;
}
.info > button:hover {
    background-color: #00000011;
}
.info > div > ol, .info > div > ul {
    text-align: left;
}
@keyframes expandOut {
    0% {
        min-height: 0;
        max-height: 0;
    }

    100% {
        min-height: 50vh;
        max-height: 150vh;
        overflow: hidden;
    }
}