.todolist{
    background-color: #e6eef5;
    padding: 2rem 0;
}

.todolist > p {
    position: absolute;
    left: 16px;
    margin: 4px;
    color: gray;
    opacity: 0;
}
.todolist > h1, .todolist > form{
    opacity: 0;
}
.todolist > form > label, .todolist > form > label >input {
    font-size: x-large;
}
.todolist > form > label >input {
    max-width: 50vw;
    margin-left: 16px;
    border-radius: 8px;
}
.todolist > form > button {
    margin-left: 16px;
    border-radius: 4px;
    padding:  10px 2px;
    font-size: x-large;
    width: 50px;
    cursor: pointer;
    font-weight: 700;
}
.todolist > form > button:hover{
    background-color: #6da5d877;
}
.todolist > div{
    max-height: 100vh;
    overflow-y: scroll;
    max-width: 80vw;
    min-height: 50vh;
    text-align: center;
    margin: auto;
    opacity: 0;
}
.todolist > div::-webkit-scrollbar-thumb {
    border: unset;
    background: lightgray;
    border-radius: 25px;

}
.todolist >div::-webkit-scrollbar {
    border: unset;
    background: transparent;
    max-height: 85%;
}
.todolist-item {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    border-radius: 25px;
    font-size: large;
    animation: 2s popIn forwards;
}
.todolist-item > button > img {
    width: 24px;
    height: 24px
}
.todolist-item > p{
     max-width: 50vw;
     min-width: 50vw;
 }
.todolist-item > input {
    margin: auto 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.todolist-item-edit {
    width: 50vw !important;
    border-radius: 8px;
}
.tinted{
    background-color: #00000033;
}

