.FloatingLabelInputWithButton {
    width: fit-content;
    text-wrap: nowrap;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0;
    padding: 0;
    margin: 4px;
    border: 0;

}
.FloatingLabelInputWithButton > label {
    display: block;
    transform-origin: left top 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 4px;
    transform: scale(0.75) translate(12px, -12px) ;
    pointer-events: auto;
    user-select: none;
    width: fit-content;
    border-radius: 4px 4px 0 0;
    background-color: white;
}
.FloatingLabelInputWithButton > button {
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(1) translate(-8px, 8px) ;
    box-shadow: 0 0 1px #00000090;
    width: 36px;
    height: 36px;
    margin: 0px ;
    font-size: 2rem;
    text-align: center;
    padding: 0px 0px 0px 9px;
    display: flex;
}