.timer > h1 {
    margin: 6rem 0;
    font-size: 3.5em;
}
.timer-buttons {
    display: flex;
    justify-content: space-evenly;
}
.timer-buttons > button {
    color: black;
    font-size: x-large;
    background-color: white;
    margin: 16px;
    border: unset;
    box-shadow: 3px 4px 5px 2px hsla(0,0%,100%,.1), 1px 2px 2px 1px hsla(0,0%,78.4%,.3);
    cursor: pointer;
    border-radius: 16px;
    padding: 8px;
    font-weight: 700;
}