.modalWrapper {
    position: fixed;
    background: #00000099;
    width: 100vw;
    height: 100vh;
    top: 0;
    justify-content: center;
    left: 0;
    z-index: 1;
    display: inline-flex;
}
.active {
    display: none;
}
.presets, .customtimes {
    background-color: white;
    margin-top: 1rem;
    border-radius: 25px;
    height: 85vh;
    width: 75vw;
    padding: 16px;
    z-index: 2;
    overflow-y: scroll;
}
.presets > div:hover {
    background-color: lightgray;

}
.presets > div {
    padding: 16px;
    cursor: pointer;
    border-radius: 25px;
}
.presets > .tinted {
    background-color: lightgray;
}
.customtimes {

}
.customtimes-form > label{
    display: block;
    margin: 20px 0;
    font-size: large;

}
.customtimes-form > label > input{
    font-size: large;
    min-width: 20vw;
    max-width: 20vw;
}