.modal-wrapper {
    position: fixed;
    background: #00000099;
    width: 100vw;
    height: 100vh;
    top: 0;
    justify-content: center;
    left: 0;
    z-index: 1;
    display: inline-flex;
}

.modal-card {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    overflow-y: auto;
    margin-top: 1rem;
    border-radius: 25px;
    height: 85vh;
    width: 75vw;
    max-width: 85vw;
    padding: 16px;
    z-index: 2;
    /*animation: 2s popIn forwards;*/
}

.customtimes-form > label {

}

.customtimes-form > label > input {

}

.presets::-webkit-scrollbar-thumb, .customtimes::-webkit-scrollbar-thumb {
    border: unset;
    background: lightgray;
    border-radius: 25px;

}

.presets::-webkit-scrollbar, .customtimes::-webkit-scrollbar {
    border: unset;
    background: transparent;
    max-height: 85%;
}


.presets > div:hover {
    background-color: lightgray;

}

.presets > div {
    padding: 16px;
    cursor: pointer;
    border-radius: 25px;
    margin: 8px 0;
}
.presets > .tinted {
    background-color: lightgray;
}

.radio {
    display: flex;
    justify-content: space-evenly;
}

.customtimes-form h2, .custom-preset h2 {
    color: white;
    text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black;
}
.customtimes-form .Input-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}
.divider {
    height: 1rem;
}

.sounds > h2, .customtimes h2 {
    margin: 0
}

.sounds > h3 {
    margin: 0;
}

.sounds > label {
    margin: 4px 0 0 -28.5px;
    position: absolute;
    left: 50%;
    font-weight: 800;
    color: #00000077;
    user-select: none;
}

.sounds > input {
    -webkit-appearance: none;
    width: 40vw;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 8px;
    overflow: hidden;
}

.sounds > input:hover {
    opacity: 0.9;
}

.sounds > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #6da5d877;
    cursor: pointer;
}

.sounds > input::-webkit-slider-thumb:hover {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #6da5d8;
    cursor: pointer;
    z-index: 3;
}

.sounds > input::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #6da5d8;
    cursor: pointer;
}

.sound-section {
    width: 60vw;
    display: inline-block;
    cursor: unset !important;
}

.sound-section h3 {
    font-weight: 600;
    margin: 1em 0 0 0;
}

.sound-section p, .sounds h3 > span {
    color: #6da5d8;
    cursor: pointer;
    margin: 0 0 1em 0;
}

@media (min-width: 480px) {
    .sound-section {
        width: 30vw;
    }

    .sounds > input {
        width: 30vw;
    }
}

@media (min-width: 767px) {
    .sound-section {
        width: 15vw;
    }
    .sounds > input {
        width: 20vw;
    }
}
