.SoundSection {
    width: 100%;
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;
    margin: auto;
    padding: 1rem 0;
    justify-content: space-evenly;
}

.SoundSection .Title {
    color: #6da5d8;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
}

.SoundSection .Title:hover {
    text-decoration: underline;
}

.SoundSection.active {
    background-color: #d9d9d9;
}

.SoundButtonGroup, .SoundTitle {
    width: 50%;
    margin: auto 0;
}

@media (min-width: 480px) {

    .SoundButtonGroup, .SoundTitle, .SoundSection {
        width: 50%;
    }
}
