.FloatingLabelInput {
    width: fit-content;
    text-wrap: nowrap;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0;
    padding: 0;
    margin: 4px;
    border: 0;

}
.FloatingLabelInput > label {
    display: block;
    transform-origin: left top 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 4px;
    transform: scale(0.75) translate(12px, -12px) ;
    pointer-events: auto;
    user-select: none;
    width: fit-content;
    border-radius: 4px 4px 0 0;
    background-color: white;
}