.circle-outer {
    position: relative;
    padding: 0;
    margin: 4px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 2px 4px 4px #00000017;
}
.circle {
    position: absolute;
    padding: 0;
    width: 200px;
    height: 200px;
    transform: translate3d(-25%,-25%,0);
}
.circle .background{
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
}

.circle img{
    width: 35px;
    height: 35px;
    user-select: none;
}
.circle .background {
    cursor: pointer;
}
.background.first {
    transform: rotate(240deg) skewY(30deg);
    background: #fff;
}
.background.first.active {
    background-color: #76e88d;
}
.background.second {
    transform: rotate(0deg) skewY(30deg);
    background: #00000033;
}
.background.second.active {
    background-color: #E8C676;
}
.background.third {
    transform: rotate(120deg) skewY(30deg);
    background: #00000055;
}
.background.third.active {
    background-color: #E88D76;
}
.background.first:hover, .content:hover ~ .background.first {
    background-color: #a2efb1;
}
.background.second:hover,  .content:hover ~ .background.second  {
    background-color: #EFD7A2
}
.background.third:hover, .content:hover ~ .background.third  {
    background-color: #efb1a2;
}
.background:active, .content:active ~ .background {
    box-shadow: 1px 1px 4px 2px #00000034 inset;
}
.content {
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
.content.first {
    left: 30%;
    top: 33%;
    transform: rotate3d(0, 0, 1,-45deg);
}
.content.second {
    left: 52%;
    top: 33%;
    transform: rotate3d(0, 0, 1,45deg);
}
.content.third {
    bottom: 26%;
    left: 41.5%;
}