.TodoList{
    background-color: #e6eef5;
    padding: 2rem 0;
}

.TodoList > p {
    position: absolute;
    left: 16px;
    margin: 4px;
    color: gray;
}
.TodoList > form {
    width: 100%;
    justify-content: center;
    display: flex;
}
.TodoList > form > label, .TodoList > form > label >input {
    font-size: x-large;
}
.TodoList .TodoItemGoal > input {
    min-width: 237px;
    max-width: 700px;
}
.TodoList .TodoItemGoal {
    margin-bottom: 1rem;
}
.TodoList > form > button {
    margin-left: 16px;
    border-radius: 4px;
    padding:  10px 2px;
    font-size: x-large;
    width: 50px;
    cursor: pointer;
    font-weight: 700;
}

.TodoList > div{
    min-height: 50vh;
    text-align: center;
    margin: auto;
}
.TodoList > div::-webkit-scrollbar-thumb {
    border: unset;
    background: lightgray;
    border-radius: 25px;

}
.TodoList >div::-webkit-scrollbar {
    border: unset;
    background: transparent;
    max-height: 85%;
}
@media (min-width: 480px) {
    .TodoList {

        border-radius: 4px;
    }
    .TodoList > div {
        max-width: 60vw;
    }

}
