.App {
  text-align: center;
  background: linear-gradient(-45deg, #7bc9ff, #000000, #7bc9ff, #ffffff);
  animation: gradient 60s infinite;
  background-size: 400% 400%;
}
@keyframes popIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes slide-in-down {
  0%{
    transform: translateY(-100%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-in-up {
  0%{
    transform: translateY(100%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-in-right {
  0%{
    transform: translateX(-100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-in-left {
  0%{
    transform: translateX(100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(360deg);
    opacity: 1;
  }
}
@keyframes gradient {
  0%, 100% {
    background-position: 50%;
  }
  50% {
    background-position: 0;
  }
}
