body::-webkit-scrollbar-thumb {
  border: unset;
  background: lightgray;
  border-radius: 25px;

}
body::-webkit-scrollbar {
  border: unset;
  background: transparent;
  max-height: 85%;
}
.App {
  text-align: center;
  background-color: #7bc9ff;
}
.infoButton {
  position: absolute;
  border: white;
  color: black;
  font-size: x-large;
  background-color: white;
  margin-top: -24px;
  border: unset;
  box-shadow: 3px 4px 5px 2px hsla(0,0%,100%,.1), 1px 2px 2px 1px hsla(0,0%,78.4%,.3);
  cursor: pointer;
  margin-left: -28px;
  border-radius: 25px;
  padding: 16px 8px 8px 8px;
  font-weight: 700;
}
.infoButton > img {
  width: 25px;
  opacity: .5;

}
@keyframes popIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes slide-in-down {
  0%{
    transform: translateY(-100%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-in-up {
  0%{
    transform: translateY(100%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-in-right {
  0%{
    transform: translateX(-100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-in-left {
  0%{
    transform: translateX(100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(360deg);
    opacity: 1;
  }
}
